body {
    font-size: 20px;
    text-align: center;
}
#banner{
    color: white;
    margin: 20px;
    height: 200px;
    background-image: url("img/TuringBannerCrop.png");
    background-repeat: no-repeat;
    background-position: center;
}